doctype
html( lang='en' )
head
	title #{recommend}
	meta( charset='utf-8' )
	meta( http-equiv='X-UA-Compatible', content='IE=edge' )
	meta( name='viewport', content='width=device-width, initial-scale=1.0' )
	meta( name='description', content='图饭-用长图，说故事.长图制作工具' )

	link(href='http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
	link(href='/public/stylesheets/mini/all.min.css', rel='stylesheet')

body
	//- 供微信抓取的缩略图
	img.hidden( src = '/public/images/share.png' )

	//- tf_download_bar
	.tf_download_bar
		.container
			.row
				.col-md-12.col-xs-12
					.pull-left.logo: img.img-rounded.media-object( src = '/public/images/logo.png' )
					.pull-left
						p.app_name 图饭
						p.app_slogan 用长图，说故事
					.pull-right.download
						a(href='http://tufan.pics') 立即打开
	//- main
	.container
		.row.main
			//- essay
			.col-md-12.essay
				.essay_recommend
					strong 饭仔荐语：
					span.ctx #{recommend}
				.essay_content
					strong 作者：
					span.ctx #{desc}
				.essay_loading: .loading
				.essay_img
					img.img-rounded.media-object.lazy( src='#{imageUrl}')
					//img.img-rounded.media-object( src='/public/images/img.jpg')

	script(src='http://cdn.bootcss.com/jquery/2.2.1/jquery.min.js')
	script(src='http://qzonestyle.gtimg.cn/qzone/qzact/common/share/share.js')
	script(src='/public/javascripts/mini/all.min.js')
