doctype
html( lang="en" )
head
	title 图饭,那讲故事的长图制作工具
	meta( charset='utf-8' )
	meta( http-equiv='X-UA-Compatible', content='IE=edge' )
	meta( name='viewport', content='width=device-width, initial-scale=1.0' )
	meta( name='description', content='Baking Bootstrap Snippets with Jade' )

	link(href="http://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
	link(href="http://tufan.b0.upaiyun.com/resource/css/main.css", rel="stylesheet")

body
	//- tf_download_bar
	.tf_download_bar
		.container
			.row
				.col-md-10.col-xs-8
					ul.media-list
						li.media
							.media-left: img.logo.img-rounded.media-object( src = 'http://tufan.b0.upaiyun.com/resource/logo/logo.png' )
							.media-body
								p.app_name 图饭
								p.app_slogan 用长图，说故事 
					
				.col-md-2.col-xs-4
					.download
						a 立即打开
	//- main
	.container
		.row.main
			//- essay
			.col-md-12.essay
				.essay_recommend <strong>饭仔荐语：</strong>#{recommend}
				.essay_content <strong>作者：</strong>#{desc}
				.essay_img
						img.logo.img-rounded.media-object( src = "#{imageUrl}" )
